<style>
    footer{ background-color: #333; color: orange; padding: 20px; text-align:
    center; position: fixed; bottom: 0; width: 100%; z-index: 20;}
  </style>
<footer>
  <div style="max-width: 960px; margin: 0 auto;">
    &copy; 2024 | KhataBook.
  </div>
</footer>