<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/help.css">
    <title>Help</title>
</head>
<body>
    {{>header}}
    <h2>help pagex</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam aperiam repellat odit aliquam consequatur error similique adipisci quo, et tempore iure, eum recusandae, voluptatum accusantium itaque. Animi sapiente eum ducimus fugit illo nobis nulla ratione dolorum, laboriosam earum beatae reiciendis error distinctio nisi amet sint cupiditate sequi. Nemo beatae laboriosam provident, placeat recusandae sed itaque tempora? Labore distinctio quisquam recusandae aliquam, modi impedit, magnam maiores itaque officia illum adipisci. Atque culpa ipsam nisi alias nesciunt expedita magni tenetur hic eaque repudiandae dolore voluptatum incidunt deserunt necessitatibus, et animi est cumque dolores nulla asperiores dolorum qui debitis ullam ab. Atque, amet!</p>
    {{>footer}}
</body>
</html>